{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block filters %}
    {{ block.super }}
    {% if has_add_permission %}
        <a href="{% url 'admin:accounts_customer_add' %}" class="bg-white border border-base-200 hover:text-primary-600 dark:bg-base-900 dark:border-base-700 dark:hover:text-primary-500 cursor-pointer flex font-medium gap-2 group items-center px-3 py-2 rounded shadow-sm text-sm" style="background-color: #D4AF37 !important; color: white !important; border-color: #D4AF37 !important;">
            <span class="material-symbols-outlined md-18">add</span>
            {% trans "Add Customer" %}
        </a>
    {% endif %}
{% endblock %}
